{% extends 'main.html' %}


{% block user_count %}
{{ user_count }}
{% endblock user_count %}

{% block main %}

<div class="content text-center">
    <div class="row">
        <div class="col">
            <a href="{% url 'donate' %}" class='site-btn'>Пополнить баланс</a>
        </div>
        <div class="col">
            <a href="{% url 'withdraw' %}" class='site-btn'>Вывод средств</a>
        </div>

        <div class="wrappper game_info_wrapper" style="margin-top:10%;">
            <div class="title">Пополнение и Вывод средств</div>
            <p class="game_info">
                Пожалуйста, обратите внимание, что некоторые платежные системы могут взимать комиссии за проведение операций. Комиссии могут различаться в зависимости от выбранной вами платежной системы и суммы операции. Рекомендуется ознакомиться с комиссионными сборами платежной системы, прежде чем производить пополнение или вывод средств.
                Мы постоянно работаем над расширением нашего списка поддерживаемых платежных систем, чтобы предоставить вам больше вариантов. Если у вас есть предпочитаемая платежная система, которую вы хотели бы видеть на нашем сайте, пожалуйста, свяжитесь с нашей службой поддержки, и мы рассмотрим возможность добавления ее в будущем.
                Спасибо, что выбрали наш сайт для онлайн игр с выводом и пополнением счета. Если у вас возникли дополнительные вопросы, не стесняйтесь обращаться к нашей службе поддержки. Мы всегда готовы помочь вам.
            </p>
          </div>
    </div>
</div>


{% endblock main %}