{% extends 'main.html' %}
{% load static %}

{% block main %}

<div class="container main_container">
    <div class="row bet_row text-center">
        <h1 class="headtitle" >Выберите ставку</h1>
        <form action="" method="POST" action="{% url 'bet_game' %}">
            {% csrf_token %}
            <div class="bet_row row text-center">


                <div class="col-sm-2">
                    <button class="my_btn" style="--clr:#EA00FF" value="0.1" name="bet"><span>0,1$</span><i></i></button>
                    <button class="my_btn" style="--clr:#FFF01F" value="0.2" name="bet"><span>0,2$</span><i></i></button>
                    <button class="my_btn" style="--clr:#7FFF00" value="0.4" name="bet"><span>0,4$</span><i></i></button>
                    <button class="my_btn" style="--clr:#FF5E00" value="0.8" name="bet"><span>0,7$</span><i></i></button>
                    <button class="my_btn" style="--clr:#39FF14" value="0.16" name="bet"><span>0,16$</span><i></i></button>
                    <button class="my_btn" style="--clr:#FF44CC" value="0.32" name="bet"><span>0,32$</span><i></i></button>
                    <button class="my_btn" style="--clr:#0FF0FC" value="0.64" name="bet"><span>0,64$</span><i></i></button>
                    <button class="my_btn" style="--clr:#8A2BE2" value="1.28" name="bet"><span>1,28$</span><i></i></button>
                    <button class="my_btn" style="--clr:#EA00FF" value="2.56" name="bet"><span>2,56$</span><i></i></button>
                </div>
                <div class="col-sm-2">
                    <button class="my_btn" style="--clr:#EA00FF" value="3.0" name="bet"><span>3,0$</span><i></i></button>
                    <button class="my_btn" style="--clr:#FFF01F" value="3.5" name="bet"><span>3,5$</span><i></i></button>
                    <button class="my_btn" style="--clr:#7FFF00" value="4.0" name="bet"><span>4,0$</span><i></i></button>
                    <button class="my_btn" style="--clr:#FF5E00" value="4.5" name="bet"><span>4,5$</span><i></i></button>
                    <button class="my_btn" style="--clr:#39FF14" value="5.0" name="bet"><span>5,0$</span><i></i></button>
                    <button class="my_btn" style="--clr:#FF44CC" value="6.0" name="bet"><span>6,0$</span><i></i></button>
                    <button class="my_btn" style="--clr:#0FF0FC" value="7.0" name="bet"><span>7,0$</span><i></i></button>
                    <button class="my_btn" style="--clr:#8A2BE2" value="8.0" name="bet"><span>8,0$</span><i></i></button>
                    <button class="my_btn" style="--clr:#EA00FF" value="9.0" name="bet"><span>9,0$</span><i></i></button>
                    <button class="my_btn" style="--clr:#FFF01F" value="10.0" name="bet"><span>10,0$</span><i></i></button>
                    <button class="my_btn" style="--clr:#7FFF00" value="12.0" name="bet"><span>12,0$</span><i></i></button>            
                </div>
            </div>
        </form>
    </div>
</div>




{% endblock main %}


