{% extends 'main.html' %}


{% block main %}

<div class="container main_container">
  <div id="game-container">
      <h1>Игра</h1>
      <div class="row text-center">
          <div class="col-sm-6">

          </div>
          <div class="col-sm-6">
            {{ game.id }}
          </div>
      </div>
  </div>
</div>


<script>
  var gameSocket = new WebSocket(
      'ws://' + window.location.host +
      '/ws/chat/' + {{game.id}}+ '/');

  gameSocket.onclose = function(e) {
      console.error('Chat socket closed unexpectedly');
  };

  gameSocket.onmessage = function(e) {
      var data = JSON.parse(e.data);
      var message = data['message'];
      if (message == 'Other player left the game.') {
          // Redirect to the searching page
          window.location.href = "{% url 'play_game' %}";
      }
  };
</script>


{% endblock main %}


