{% extends 'main.html' %}


{% block main %}

<div class="wrapper">
    <div class="row">
        <div class="col-sm m-auto">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Random">
                <div class="card-body">
                  <h5 class="card-title">Random Wheel Chat Roulette</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="{% url 'play_game' %}" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-sm m-auto">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Random">
                <div class="card-body">
                  <h5 class="card-title">Random Wheel Chat Roulette</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
    </div>


</div>

{% endblock main %}