{% extends 'main.html' %}


{% block user_count %}
{{ user_count }}
{% endblock user_count %}

{% block main %}


<div class="row">
    <div class="wrappper game_info_wrapper" style="margin-top:10%;">
        <div class="title">Вы успешно создали заявку</div>
        <p class="game_info">
            Мы рады сообщить вам, что ваша заявка на вывод средств была успешно создана. Ваши средства будут выведены на указанный вами счет в ближайшее время.
    
    Обратите внимание, что процесс вывода средств может занять некоторое время, в зависимости от банковской системы и платежного шлюза, которыми вы пользуетесь. Обычно этот процесс занимает от нескольких часов до нескольких рабочих дней.
    
    Мы рекомендуем вам следить за обновлениями в вашем личном кабинете или электронной почте, чтобы быть в курсе статуса вашего вывода средств. Если у вас возникнут дополнительные вопросы или потребуется помощь, наша команда службы поддержки всегда готова вам помочь.
    
    Мы благодарим вас за ваше терпение и сотрудничество. Мы делаем все возможное, чтобы обеспечить быстрый и безопасный вывод ваших средств.
    
    С наилучшими пожеланиями,
    Команда поддержки клиентов
        </p>
      </div>
</div>

{% endblock main %}