{% extends 'main.html' %}


{% block user_count %}
{{ user_count }}
{% endblock user_count %}

{% block page_title %}Profile{% endblock page_title %}

{% block main %}

<div class="container content text-center main_container">
  <div class="wrappper wrappper m-auto">
    <div class="title">Личные данные</div>
    <form action="" method="POST">
        {% csrf_token %}
        <button type="submit" value="Сохранить" class="site-btn">Сохранить</button>
    </form>
  </div>

</div>

{% endblock main %}



