{% extends 'main.html' %}

{% block user_count %}
{{ user_count }}
{% endblock user_count %}

{% block page_title %}Wallet History {{ user }}{% endblock page_title %}

{% block main %}


<table class="table table-bordered table-dark">
    <thead class="">
        <tr>
            <th scope="col">Номер транзакции</th>
            <th scope="col">Код транзакции</th>
            <th scope="col">Дата транзакции</th>
            <th scope="col">Сумма</th>
            <th scope="col">Статус</th>
        </tr>
    </thead>
    <tbody>
        {% for tr in transaction %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <th scope="row">2137Ahgd2</th>
                <td>{{ tr.created_at }}</td>
                <td>{{ tr.amount }}</td>
                <td>{{ tr.status }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock main %}