{% load static %}
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="header__logo">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'chat/img/logo.png' %}" width="150" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="header__nav">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li{% if request.path == '/' %} class="active"{% endif %}><a href="{% url 'home' %}">Главная страница</a></li>
                            {% if request.user.is_authenticated %}
                                <li{% if request.path == '/profile/' %} class="active"{% endif %}><a href="{% url 'profile' %}">Профиль</a></li>
                                <li{% if request.path == '/games/' %} class="active"{% endif %}><a href="{% url 'games' %}">Игры</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="header__right">
                    {% if request.user.is_authenticated %}
                        <div class="row">
                            <div class="col">
                            <section class="balance_section">
                                <span class='currency_icon'><img src="{% static 'chat/img/dollar.png' %}" alt=""></span>
                                <a href="{% url 'balance' %}" class="balance">{{ balance }}</a>
                                <span class='plus_circle'><img src="{% static 'chat/img/plus.svg' %}"></span>
                            </section>
                            </div>
                    {% endif %}
                    {% if request.user.is_authenticated %}

                            <div class="col">
                                <section class="user_section">
                                    <div class="username">
                                        {{ username }}
                                    </div>

                                    <div class="user_image">
                                        <a href=""><img src="{% static 'chat/img/man.png' %}" alt=""></a>
                                        <div class="dropdown-content">
                                            <a href="#">My Profile</a>
                                            <a href="">Withdrawals</a>
                                            <a href="{% url 'logout' %}">Log out</a>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    {% else %}
                    <section class="sign_log">
                        <span class="log_in">
                            <!-- href should match id of modal -->
                            <a href="#loginModal" data-toggle="modal" data-target="#loginModal"><p>Войти</p></a>
                        </span>
                    
                        <span class="sign_up">
                            <!-- href should match id of modal -->
                            <a href="#registerModal" data-toggle="modal" data-target="#registerModal"><p>Регистрация</p></a>
                        </span>
                    </section>
                        
                    {% endif %}

                </div>
            </div>
            <!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div></div>  <!-- invisible element -->
                <h5 class="modal-title" id="loginModalLabel">Войти</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M16.2883 14.962C16.4644 15.1381 16.5634 15.377 16.5634 15.626C16.5634 15.8751 16.4644 16.114 16.2883 16.2901C16.1122 16.4662 15.8733 16.5652 15.6242 16.5652C15.3752 16.5652 15.1363 16.4662 14.9602 16.2901L10 11.3284L5.03831 16.2885C4.86219 16.4647 4.62332 16.5636 4.37425 16.5636C4.12517 16.5636 3.8863 16.4647 3.71018 16.2885C3.53406 16.1124 3.43512 15.8736 3.43512 15.6245C3.43512 15.3754 3.53406 15.1365 3.71018 14.9604L8.6719 10.0003L3.71175 5.03854C3.53563 4.86242 3.43668 4.62355 3.43668 4.37448C3.43668 4.12541 3.53563 3.88654 3.71175 3.71042C3.88787 3.53429 4.12674 3.43535 4.37581 3.43535C4.62488 3.43535 4.86375 3.53429 5.03987 3.71042L10 8.67213L14.9617 3.70963C15.1379 3.53351 15.3767 3.43457 15.6258 3.43457C15.8749 3.43457 16.1137 3.53351 16.2899 3.70963C16.466 3.88575 16.5649 4.12462 16.5649 4.3737C16.5649 4.62277 16.466 4.86164 16.2899 5.03776L11.3282 10.0003L16.2883 14.962Z" fill="#393C4C"/>
                      </svg>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                        <label for="email" class='email_label'>Почта</label>
                        <input type="text" class="input_modal" placeholder="Электронная почта" name='email'>
                    <div class="input__item">
                        <label for="password" class='email_label'>Пароль</label>
                        <input type="password" placeholder="Пароль" name='password' class='input_modal'>
                    </div>
                    <button type="submit" class="modal-btn">Войти</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Registration Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div></div>  <!-- invisible element -->
                <h5 class="modal-title" id="registerModalLabel">Регистрация</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M16.2883 14.962C16.4644 15.1381 16.5634 15.377 16.5634 15.626C16.5634 15.8751 16.4644 16.114 16.2883 16.2901C16.1122 16.4662 15.8733 16.5652 15.6242 16.5652C15.3752 16.5652 15.1363 16.4662 14.9602 16.2901L10 11.3284L5.03831 16.2885C4.86219 16.4647 4.62332 16.5636 4.37425 16.5636C4.12517 16.5636 3.8863 16.4647 3.71018 16.2885C3.53406 16.1124 3.43512 15.8736 3.43512 15.6245C3.43512 15.3754 3.53406 15.1365 3.71018 14.9604L8.6719 10.0003L3.71175 5.03854C3.53563 4.86242 3.43668 4.62355 3.43668 4.37448C3.43668 4.12541 3.53563 3.88654 3.71175 3.71042C3.88787 3.53429 4.12674 3.43535 4.37581 3.43535C4.62488 3.43535 4.86375 3.53429 5.03987 3.71042L10 8.67213L14.9617 3.70963C15.1379 3.53351 15.3767 3.43457 15.6258 3.43457C15.8749 3.43457 16.1137 3.53351 16.2899 3.70963C16.466 3.88575 16.5649 4.12462 16.5649 4.3737C16.5649 4.62277 16.466 4.86164 16.2899 5.03776L11.3282 10.0003L16.2883 14.962Z" fill="#393C4C"/>
                      </svg>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="POST" id='registerForm'>
                    {% csrf_token %}
                        <label for="email" class='email_label'>Почта</label>
                        {{ form.email }}
                        <label for="username" class='email_label'>Логин</label>
                        {{ form.username }}
                        <label for="password" class='email_label'>Пароль</label>
                        {{ form.password1 }}
                        <label for="password" class='email_label'>Подтвердите пароль</label>
                        <input type="password" name="{{ form.password2.name }}" class='input_modal' placeholder="Confirm your password" required/>
                        <button type="submit" class="modal-btn">Регистрация</button>
                  </form>
                  <h5>Есть аккаунт? <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#loginModal" id="switchToLogin">Войти</a>
                  </h5>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmEmailModal" tabindex="-1" role="dialog" aria-labelledby="confirmEmailModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div></div>  <!-- invisible element -->
                <h5 class="modal-title" id="confirmEmailModalLabel">Подтвердите код</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M16.2883 14.962C16.4644 15.1381 16.5634 15.377 16.5634 15.626C16.5634 15.8751 16.4644 16.114 16.2883 16.2901C16.1122 16.4662 15.8733 16.5652 15.6242 16.5652C15.3752 16.5652 15.1363 16.4662 14.9602 16.2901L10 11.3284L5.03831 16.2885C4.86219 16.4647 4.62332 16.5636 4.37425 16.5636C4.12517 16.5636 3.8863 16.4647 3.71018 16.2885C3.53406 16.1124 3.43512 15.8736 3.43512 15.6245C3.43512 15.3754 3.53406 15.1365 3.71018 14.9604L8.6719 10.0003L3.71175 5.03854C3.53563 4.86242 3.43668 4.62355 3.43668 4.37448C3.43668 4.12541 3.53563 3.88654 3.71175 3.71042C3.88787 3.53429 4.12674 3.43535 4.37581 3.43535C4.62488 3.43535 4.86375 3.53429 5.03987 3.71042L10 8.67213L14.9617 3.70963C15.1379 3.53351 15.3767 3.43457 15.6258 3.43457C15.8749 3.43457 16.1137 3.53351 16.2899 3.70963C16.466 3.88575 16.5649 4.12462 16.5649 4.3737C16.5649 4.62277 16.466 4.86164 16.2899 5.03776L11.3282 10.0003L16.2883 14.962Z" fill="#393C4C"/>
                      </svg>
                </button>
            </div>
            <div class="modal-body">
                    <div class="text text-center">
                    <small class="">На адрес вашей электронной почты было отправлено письмо с кодом подтверждения</small>
                    <div class="timer" id="timer">
                    <span id="minutes">02</span>:<span id="seconds">00</span>
                </div>
                </div>
                <form id="confirmation-form" action="" method="POST">
                    {% csrf_token %}
                    <div class="confirm_section">
                        <label for="password" class='email_label'>Подтвердите пароль</label>
                        <input type="text" name='code'class='input_modal' required >
                    <div class="signup-link" id="resend-link">
                        <button type="submit" class="site-btn">Подтвердить</button>
                        <span>Не получили код?</span>
                        <a href="#" id="resend-button">Отправить заново</a>
                    </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
</div>
        

        <div id="mobile-menu-wrap"></div>
    </div>
</header>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function() {
        // Declare a flag for form submission success
        var formSubmittedSuccessfully = false;
    
        $('#registerForm').submit(function(e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: $(this).serialize(),
                dataType: 'json',
                success: function(data) {
                    if (data.status === 'success') {
                        formSubmittedSuccessfully = true;
                        $('#registerModal').modal('hide');
                    } else {
                        formSubmittedSuccessfully = false;
                    }
                },
                error: function(data) {
                    if (data.responseJSON.redirect) {
                        window.location.href = data.responseJSON.redirect;
                    }
                }
            });
        });
        
        // When the register modal has been hidden
        $('#registerModal').on('hidden.bs.modal', function (e) {
            // Only show the confirmEmailModal if the form was submitted successfully
            if (formSubmittedSuccessfully) {
                $('#confirmEmailModal').modal('show');
            }
        });
    });
    </script>
    <script>
        // Get the timer element and the form element
        const timer = document.getElementById('timer');
        const form = document.getElementById('confirmation-form');
    
        // Set the initial time to 60 seconds
        let timeLeft = 120;
    
        // Update the timer every second
        const intervalId = setInterval(() => {
            // Decrement the time left by 1
            timeLeft -= 1;
    
            // Calculate the minutes and seconds
            const minutes = Math.floor(timeLeft / 60);
            const seconds = timeLeft % 60;
    
            // Pad the minutes and seconds with leading zeros if necessary
            const paddedMinutes = minutes.toString().padStart(2, '0');
            const paddedSeconds = seconds.toString().padStart(2, '0');
    
            // Update the timer element with the new time
            timer.innerText = `${paddedMinutes}:${paddedSeconds}`;
    
            // Disable the form if the time is up
            if (timeLeft === 0) {
                clearInterval(intervalId);
                form.style.opacity = '0.5';
                form.querySelectorAll('input').forEach(input => input.disabled = true);
                document.getElementById('resend-link').style.display = 'block';
            }
        }, 1000);
    
        // Handle the resend button click event
        const resendButton = document.getElementById('resend-button');
        resendButton.addEventListener('click', (event) => {
            event.preventDefault();
            // TODO: Implement the resend code logic here
            // You can send a new code to the user's email and restart the timer
            // Once the new code is sent, hide the resend link and enable the form
            timeLeft = 60;
            timer.innerText = '1:00';
            form.style.opacity = '1';
            form.querySelectorAll('input').forEach(input => input.disabled = false);
            document.getElementById('resend-link').style.display = 'none';
        });
    </script>