{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ecstasy Video</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'chat/css/font-awesome.min.css' %} " type="text/css">
    <link rel="stylesheet" href="{% static 'chat/css/elegant-icons.css' %} " type="text/css">
    <link rel="stylesheet" href="{% static 'chat/css/plyr.css' %} " type="text/css">
    <link rel="stylesheet" href="{% static 'chat/css/nice-select.css' %} " type="text/css">
    <link rel="stylesheet" href="{% static 'chat/css/owl.carousel.min.css' %} " type="text/css">
    <link rel="stylesheet" href="{% static 'chat/css/slicknav.min.css' %} " type="text/css">
    <link rel="stylesheet" href="{% static 'chat/css/style.css' %} " type="text/css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a827418904.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    {% include 'header.html' %}

    
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger mt-4 m-auto">
                <ul class="messages">
                        {{ form.errors }}
                        <li>{{ message }}</li>
                </ul>
            </div>
        {% elif message.tags == 'success' %}
            <div class="alert alert-success mt-4 m-auto">
                <ul class="messages">
                    <li class="{{ message.tags }}">{{ message }}</li>
                </ul>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

{% block header_section %}{% endblock header_section %}

<div class="container main_container">
    <div class="row">
        {% if request.user.is_authenticated %}

        <div class="col-sm-2 mt-4">
            
            <ul class='side_bar'>
                <div class="side_col text-center">
                    <li><a href="{% url 'games' %}">Игры</a></li>
                </div>
                <hr>
                <div class="side_col text-center">
                    <li><a href="{% url 'referrals' %}">Мои рефералы</a></li>
                </div>
                <hr>
                <div class="side_col text-center">
                    <li><a href="{% url 'wallet_history' %}">Мой кошелек</a></li>
                </div>
                <hr>
                <div class="side_col text-center">
                    <li><a href="{% url 'donate' %}">Пополнить счет</a></li>
                </div>
                <hr>
                <div class="side_col text-center">
                    <li><a href="">История ставок</a></li>
                </div>
                <hr>
                <div class="side_col text-center">
                    <li><a href="">Настройки</a></li>
                </div>   
                <hr>
                <div class="side_col text-center">
                    <li><a href="">Тех поддержка</a></li>
                </div>
                <hr>
                <div class="side_col text-center">
                    <p>
                        <a style="display: inline-block;" href="{% url 'users_online' %}">
                            Онлайн: <span id="user-count"></span>
                        </a>
                        <i class="fa-solid fa-circle fa-2xs" style="color: #02e306;"></i>
                    </p>
                </div> 
            </ul>

            <script>
                var prevUserCount = 0;
            
                function updateUserCount() {
                    $.ajax({
                        url: '{% url "users_count" %}',
                        dataType: 'json',
                        success: function(data) {
                            var userCount = data.user_count;
                            if (userCount != prevUserCount) {
                                $('#user-count').text(userCount);
                                prevUserCount = userCount;
                            }
                        }
                    });
                }
            
                $(document).ready(function() {
                    updateUserCount();
                    // Обновление каждые 10 секунд
                    setInterval(updateUserCount, 10000);
                });
            </script>


            <style>
                .wrapper ul.side_bar {
                    list-style: none;
                    text-decoration: none;
                    font-size: 20px;
                    padding:0;
                    }
                ul.side_bar a{
                    text-decoration:none;
                }
            </style>
       
        </div>
        {% endif %}

        <div class="col-sm mt-4">
            {% block main %}
            {% endblock main %}
        </div>
    </div>
</div>

    {% include 'footer.html' %}

    <!-- Js Plugins -->
    <script src="{% static 'chat/js/jquery-3.3.1.min.js' %} "></script>
    <script src="{% static 'chat/js/bootstrap.min.js' %} "></script>
    <script src="{% static 'chat/js/player.js' %} "></script>
    <script src="{% static 'chat/js/jquery.nice-select.min.js' %} "></script>
    <script src="{% static 'chat/js/mixitup.min.js' %} "></script>
    <script src="{% static 'chat/js/jquery.slicknav.js' %} "></script>
    <script src="{% static 'chat/js/owl.carousel.min.js' %} "></script>
    <script src="{% static 'chat/js/main.js' %} "></script>


</body>

</html>